.box {
  border-radius: 4px;
  border: 1px solid $border-color;
  position: relative;
  &.mb20 {
    margin-bottom: 20px;
  }
  &.mt20 {
    margin-top: 20px;
  }
  .table-container {
    margin-top: 20px;
    .el-pagination {
      margin-top: 20px;
      text-align: center;
    }
    .icon-relation {
      font-size: 15px;
    }
  }
  .box-tab-head {
    border-radius: 4px 4px 0 0;
    text-align: right;
    background: #f3f6f8;
    height: 40px;
    line-height: 40px;
    padding-right: 15px;
  }
  .box-tab-header {
    position: absolute;
    right: 15px;
    z-index: 9;
    top: 6px;
  }
  &.box-normal {
    border: 0;
    .box-header {
      background: none;
      border: 0;
      padding-left: 0;
      color: #595f67;
      font-weight: bold;
    }
    .box-content {
      border: 1px solid $border-color;
    }
  }
  .box-header {
    height: 40px;
    line-height: 40px;
    background: #f3f6f8;
    padding-left: 15px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    .buttons {
      float: right;
      &>button {
        margin-right: 15px;
      }
      &>.iconfont {
        margin-right: 15px;
        cursor: pointer;
        color: #c9ccd1;
        &:hover {
          color: $primary-color;
        }
      }
    }
    h3 {
      line-height: 40px;
      color: #595f67;
      font-weight: bold;
      font-size: 13px;
      float: left;
      margin-right: 20px;
    }
    small {
      font-size: 12px;
      color: #595f67;
      margin-right: 20px;
    }
  }
  .box-section {
    padding: 15px;
    border-bottom: 1px solid $border-color;
    &:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
  }
  .box-content {
    // padding: 15px;
    border-radius: 4px;
    background: white;
    form {
      padding: 15px;
    }
    .el-form-item__label {
      font-size: 13px;
      color: #929aa3;
      padding-right: 5px;
    }
    .el-col {
      th,
      td {
        padding: 8px 2px;
        vertical-align: middle;
      }
      th {
        width: 120px;
        text-align: right;
        font-weight: normal;
        color: #929aa3;
      }
      td {
        color: #595f67;
        &.em {
          font-size: 15px;
          color: #de3569;
        }
      }
      table {
        line-height: 1;
        font-size: 13px;
        width: 100%;
      }
      .other-list {
        font-size: 15px;
        color: #929aa3;
        padding-top: 30px;
        line-height: 1.8em;
        dl {
          width: 100%;
          clear: both;
        }
        dt {
          float: left;
        }
        dd {
          float: left;
        }
      }
    }
  }
  .el-tabs__item {
    height: 30px;
    line-height: 30px;
  }
  .el-tabs__header {
    margin-bottom: 0;
    border-bottom: 0;
    height: 40px;
    line-height: 51px;
    background: #f3f6f8;
    padding-left: 15px;
    border-radius: 4px 4px 0 0;
  }
  .filters {
    background: white;
    padding: 15px;
    border-radius: 0 0 4px 4px;
    .filter-checkbox {
      font-size: 12px;
      .title {
        color: #54637a;
        text-align: right;
        float: left;
      }
      .checkboxes {
        vertical-align: -3px;
      }
      .el-radio__label {
        font-size: 12px;
        color: #9b9ca4;
        cursor: pointer;
        padding: 3px 5px 2px;
        &:hover {
          background: $primary-color;
          color: white;
          border-radius: 3px;
        }
      }
      .el-checkbox__input,
      .el-radio__input {
        &.is-checked {
          & + .el-radio__label {
            background: $primary-color;
            color: white;
            border-radius: 3px;
          }
        }
        display: none;
      }
    }
    .filter-line {
      margin-bottom: 20px;
      position: relative;
      &:last-of-type {
        margin-bottom: 0;
      }
      button.fixed {
        position: absolute;
        right: 0px;
        top: -5px;
      }
    }
    .el-select {
      // margin-right: 20px;
    }
    .el-input {
      margin-right: 20px;
      width: 200px;
      height: 30px;
      input {
        background: #f3f6f8;
        height: 30px;
        border: 0;
        font-size: 12px;
      }
    }
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item {
    color: #657286;
    font-size: 13px;
    &.is-active {
      border: 1px solid white;
      background: white;
      color: #262c38;
    }
  }
}

.table-container {
  margin-top: 20px;
  .el-pagination {
    margin-top: 20px;
    text-align: center;
  }
}
